body{
    background-color: black;
    width: 100%;
}
nav{
    background-color: red;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
    margin-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
  color: grey;
}
#active{
    text-decoration: underline;  
}
.nav-link{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-link:hover{
    color: grey;
    background-color: red;
}
.dropdown-gruppe{
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
}
.nav-link:hover .dropdown-gruppe{
    opacity: 1;
    visibility: visible;
    background-color: red;
}
.navbilde{
    display: block;
    width: 70px;
    background-color: red;
}
#sponsorbilde{
    display: block;
    width: 100%;
    width: 100px;
    margin-left: auto;
    margin-right: auto; 
}
#sponsorbilde2{
    display: block;
    width: 100%;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.sponsorer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    grid-gap: 1px;

}
.nyhetgrid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    grid-gap: 40px;
}

.nyhetbilde{
    width: 100%;
}

.nyhetoverskrift-cavani{
    position: absolute;
    left: 230px;
    top: 580px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
}
.nyhetoverskrift-rash{
    position: absolute;
    left: 950px;
    top: 580px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;

}
.dot-skrift{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dot-1{
    position: absolute;
    left: 50px;
    top: 610px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    width: 30px;
}
.dot-2{
    position: absolute;
    left: 790px;
    top: 610px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    width: 30px;
} 
.dot-skrift2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nyhetoverskrift-cavani:hover{
    font-size: 32px;
    text-decoration: underline;
}
.nyhetoverskrift-rash:hover{
    font-size: 32px;
    text-decoration: underline;
}
.nyhetoverskrift{
    background-color: black;
    color: black;
}


.nyhet2{
    background-color: white;
}
.nyhet2:hover{
    filter: blur(2px);
}

.nyhetbilde2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
    
}
.nyhetoverskrift2{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nyhetskrift2{
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nyhetgrid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    grid-gap: 30px;
    
}

.overskriftartikkel{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    border: solid black 3px;
    margin-top: 20px;
}
.bildeartikkel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 30px;
}
.skriftartikkel{
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;

}
.bodywhite{
    background-color: white;
}
.nyhetvideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
}
.avsnitt{
    border: solid black 2px;
}
.gruppe{
    text-decoration: underline;
    margin-left: 60px;
    font-size: 20px;
 
}
.skriftartikkel2{
    font-size: 18px;
    margin-left: 60px;
}

.innogut{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    grid-gap: 100px;
      
}
.toarticle:hover{
    filter: blur(2px);
}
.rykter-hovedbilde{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.innogut-skrift{
    font-size: 28px;
    border: solid white 2px;
    color: white;
    text-align: center;
}

.overgang-rykter{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    margin-top: 100px;
    grid-gap: 80px;
   

}
.overgang-bilde{
    width: 100%;
    margin-left: auto;
    margin-top: 40px; 
}
.overgang-skrift{
    font-size: 15px;
    color: white;
}
.overgang-overskrift{
    font-size: 20px;
    color: red;
}
.overgang-overskrift::first-letter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.overgang-bilder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.bilderlogo{
    width: 100%;
}
#overgangbilde{
    width: 60px;
    margin-top: 52px;
}
#rødpil{
    width: 80px;
    margin-top: 55px;
    margin-left: 60px;
}
#manu{
    width: 160px;
}
#overgangbilde-ut{
    width: 55px;
    margin-top: 50px;
    margin-left: 5px;
}
#rødpil2{
    width: 80px;
    margin-top: 55px;
    margin-left: 0px;

}
#manu2{
    width: 160px;
}
#overgangbilde-ut2{
    width: 130px;
    margin-top: 38px;
    margin-left: 5px;
}

.bilderamme {
    display: block;
    margin: auto;
    margin-right: auto;
    width: 400px;
    overflow: hidden;
    position: relative;
  }
  .slideshow{
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-left: 0px;
    animation: slideshow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
#mutv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
    width: 100%;
}
  
  @keyframes slideshow {
    0% {
      margin-left: 0px;
    }
    33% {
      margin-left: -400px;
    }
    66% {
      margin-left: -800px;
    }
    100% {
      margin-left: -1200px;
    }
  }
  .posisjoner{
      text-align: center;
      color: white;
      font-size: 50px;
      border: solid white 2px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-right: 120px;
      margin-left: 120px;
  }
  .posisjoner::first-letter{
      color: red;
  }
  .gridstall{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
  }
  .gruppestall img{
      width: 280px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
  }
  .gruppestall{
      border: solid white 2px;
      margin-left: 120px;
      margin-right: 120px;
      
  }
  .gruppestall img:hover{
      width: 300px;
  }
  .spillerstalloverskrift{
      color: white;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
      font-size: 30px;

  }
  .spillerstalloverskrift::first-letter{
      color: red;
  }
  .spillerramme1{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .spillerartikkel{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .spillerbilde{
      width: 350px;
      margin-top: 50px;
  }
  .spilleroverskrift{
      font-size: 30px;
      color: white;
      margin-top: 55px;
    
  }
  .spillerskrift{
    font-size: 20px;
    color: white;
  }
  .mainwhite{
      background-color:white;
  }
  .biografioverskrift{
      color: black;
      font-size: 40px;
      margin-top: 15px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .biografiskrift{
      color: black;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      display: block;
      margin-right: 100px;
      margin-left: 100px;
  }



.premie-bilder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 30px;
    
}
#premie-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;
}
#premie-bilde2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    margin-top: 85px;
}

#klubbnavn{
    color:white ;
}
.info-skrift{
    background-color: black;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    font-family: cursive;
    font-size: 25px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white 2px;

}
d{
    color: red;
}
d:hover{
    color: darkred;
}

table{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 80px;
    font-size: 20px;
    border: solid white 2px;
    margin-left: 250px;
    margin-right: 250px;
}
th{ 
    padding: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    color: white;

}
th::first-letter{
    color: red;
}

td{
    padding: 8px;
    color: white;
}


.pl-hovedskrift{
   
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    color: white;
}
.pl-hovedskrift::first-letter{
    color:red;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pl-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 40px;
}
    
.pl-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    margin-top: 50px;
    background-color: black;
    border: solid red 2px;
    
    
}
ul{
    justify-content: space-between;
}
li{
    font-size: 20px;
    color: white;
    margin-top: 10px;

}
#premie{
    text-decoration: underline;
    color: white
}
#premie:hover{
    color: grey;
}

.pl-skrift{
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.kampoppsett{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-top: 20px;
    border: solid white 2px;
    margin-left: 70px;
    margin-right: 70px;
}
.kampoppsett-skrift1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.kampoppsett-skrift2{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: fantasy;
}
.kampene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.kamp-overskrift{
    color: red;
    text-align: center;
    font-size: 25px;
}
.kamp-skrift{
    font-size: 20px;
    text-align: center;

}
.kamp-skrift2{
    font-size: 20px;
    text-align: center;
}
.stillingen{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;

}
.resultat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}
.kamplogoer{
    width: 100%;
}
#kampunited{
    width: 50px;
    margin-left: 100px;
    margin-top: 30px;

}
#kampleipzig{
    width: 80px;
    margin-left: 85px;
    margin-top: 36px;
}
#kampcity{
    width: 80px;
    margin-left: 87px;
    margin-top: 30px;
}
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background:red;
    box-shadow: 0 0 10px black(0,0,0,0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #btnScrollToTop:active{
    background-color: darkred;
  }
  .footerwhite{
      background-color: white;
      text-align: center;
  }
  .footergrey{
      background-color: lightgrey;
      text-align: center;
  }
  .footerskrift{
      color: black;
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .footerskrift::first-letter{
      color: red;
  }
  .footergrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 400px;
      margin-right: 400px;
  }
  .footerbilder{
      display: block;
  }
  .footerbilde{
      width: 100%;
      width: 100px;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
  }
  .footerbilde2{
      width: 100%;
      width: 50px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
  }
  .footerbilde3{
      width: 100%;
      width: 125px;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
  }
  .websidegrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 1px;
      border: solid black 1px;
  }
  .websideskrift{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 20px;
      text-decoration: underline;
  }
  .manutd-webside{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: red;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 50px;
      font-size: 28px;
  }



@media (max-width:1200px){
    nav{
        font-size: 18px;  
    }
    nav a{
        margin-top: 15px;
    }
    .sponsorer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navbilde{
        width: 60px;
    }
    .nyhetgrid1{
        grid-template-columns: 1fr 1fr;
    }
    .nyhetbilde{
        width: 565px;
    }
    .nyhet:hover{
        filter: blur(2px);
    }
    .nyhet{
        background-color: black;
    }
    .dot-skrift{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dot-1{
        left: -100px;
    }
    .dot-2{
        left: -100px;
    } 
    .dot-skrift2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .nyhetoverskrift-rash{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift-cavani{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift{
        color: white;
        text-align: center;
        font-size: 30px;
        border: solid white 2px;
        margin-left: 100px;
        margin-right: 100px;
    }
    #mutv{
        width: 460px;
    }
    .nyhetgrid2{
        grid-template-columns: 1fr 1fr;
    }
    .nyhetbilde2{
        width: 570px;
    }

    .nyhetoverskrift2{
        font-size: 15px;
    }
    .nyhetskrift2{
       font-size: 10px;   
    }
    .overskriftartikkel{
        font-size: 40px;
    }
    .bildeartikkel{
        width: 600px;
    }
    .skriftartikkel{
        font-size: 15px;
    }
    .nyhetvideo{
        width: 300px;
        height: 150px;
    }
    .gruppe{
        text-decoration: underline;
        margin-left: 60px;
        font-size: 15px;
        
    }
    .skriftartikkel2{
        font-size: 13px;
        margin-left: 60px;
    }
    #sponsorbilde2{
        width: 70px;
    }
    #sponsorbilde{
        width: 70px;
    }
    .overgang-rykter{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        grid-gap: 80px; 
    }
    .overgang-bilde{
        width: 100%;
        margin-top: 0px; 
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .overgang-skrift{
        font-size: 17px;
        color: white;
        text-align: center;
    }
    .overgang-overskrift{
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        color: red;
        text-decoration: underline;
    }
    .overgang-overskrift::first-letter{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
.overgang-bilder{
    display: flex;
    grid-template-columns: 0fr;
    margin-top: -100px;
}
#overgangbilde{
    width: 45px;
    margin-top: 90px;
    margin-left: 420px;
}
#rødpil{
    width: 60px;
    margin-top: 95px;
}
#manu{
    width: 120px;
    margin-top: 50px;
    margin-left: 10px;

}
#overgangbilde-ut{
    width: 48px;
    margin-top: 115px;
    margin-left: 60px;
}
#rødpil2{
    width: 70px;
    margin-top: 120px;
    margin-left: 20px;
}
#manu2{
    width: 120px;
    margin-top: 80px;
    margin-left: 400px;
}
#overgangbilde-ut2{
    width: 100px;
    margin-top: 105px;
    margin-left: 20px;
}
.innogut-skrift{
        font-size: 23px;
        border: solid white 2px;
        color: white;
        text-align: center;
    }
 .rykter-hovedbilde{
        width: 100%;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
.navbilde{
        display: block;
        width: 60px;
        height: 60px;
        margin-top: 5px;
    }
.nav-link{
        margin-top: 15px;
    }
.posisjoner{
        text-align: center;
        color: white;
        font-size: 35px;
        border: solid white 2px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 120px;
        margin-left: 120px;
    }
.posisjoner::first-letter{
        color: red;
    }
    .gruppestall img{
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .gruppestall{
        border: solid white 2px;
        margin-left: 120px;
        margin-right: 120px;
        
    }
    .gruppestall img:hover{
        width: 250px;
    }
    .spillerstalloverskrift{
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 25px;
  
    }
    .spillerstalloverskrift::first-letter{
        color: red;
    }
    .spillerramme1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .spillerartikkel{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spillerbilde{
        width: 280px;
        margin-top: 50px;
    }
    .spilleroverskrift{
        font-size: 25px;
        color: white;
        margin-top: 55px;
      
    }
    .spillerskrift{
      font-size: 15px;
      color: white;
    }
    .mainwhite{
        background-color:white;
    }
    .biografioverskrift{
        color: black;
        font-size: 30px;
        margin-top: 15px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .biografiskrift{
        color: black;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        display: block;
        margin-right: 100px;
        margin-left: 100px;
    }


.premie-bilder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 30px;
    
}
#premie-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 20px;
}
#premie-bilde2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    margin-top: 50px;
}

#klubbnavn{
    color:white ;
}
.info-skrift{
    background-color: black;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    font-family: cursive;
    font-size: 23px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white 2px;

}

d{
    color: red;
}
d:hover{
    color: darkred;
}

table{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 18px;
    border: solid white 2px;
    margin-left: 200px;
    margin-right: 200px;
}
th{ 
    padding: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: white;

}
th::first-letter{
    color: red;
}

td{
    padding: 8px;
    color: white;
}


.pl-hovedskrift{
   
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    color: white;
}
.pl-hovedskrift::first-letter{
    color:red;
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pl-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 30px;
}
    
.pl-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 40px;
    background-color: black;
    border: solid red 2px;  
    
}
ul{
    justify-content: space-between;
}
li{
    font-size: 15px;
    color: white;
    margin-top: 10px;

}
#premie{
    text-decoration: underline;
    color: white
}
#premie:hover{
    color: grey;
}

.pl-skrift{
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 13px;
}
.kampoppsett{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-top: 20px;
    border: solid white 2px;
    margin-left: 70px;
    margin-right: 70px;
}
.kampoppsett-skrift1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.kampoppsett-skrift2{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: fantasy;
}
.kampene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.kamp-overskrift{
    color: red;
    text-align: center;
    font-size: 20px;
}
.kamp-skrift{
    font-size: 15px;
    text-align: center;

}
.kamp-skrift2{
    font-size: 15px;
    text-align: center;
}
.stillingen{
    font-size: 15px;
    margin-top: 35px;
    margin-left: 100px;

}
.resultat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}
.kamplogoer{
    width: 100%;
}
#kampunited{
    width: 40px;
    margin-left: 80px;
    margin-top: 20px;

}
#kampleipzig{
    width: 60px;
    margin-left: 70px;
    margin-top: 30px;
}
#kampcity{
    width: 60px;
    margin-left: 71px;
    margin-top: 25px;
}
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background:red;
    box-shadow: 0 0 10px black(0,0,0,0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #btnScrollToTop:active{
    background-color: darkred;
  }
  .footerskrift{
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footerskrift::first-letter{
    color: red;
}
.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-left: 300px;
    margin-right: 300px;
}
.footerbilder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde{
    width: 100%;
    width: 70px;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde2{
    width: 100%;
    width: 40px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde3{
    width: 100%;
    width: 100px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.websidegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 1px;
    border: solid black 1px;
}
.websideskrift{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    text-decoration: underline;
}
.manutd-webside{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    font-size: 22px;
}

    

@media (max-width:900px){
    #active{
        color:white;
    }
    nav{
        font-size: 13px;
        margin-top: 5px;
    }
    nav .active{
        color: grey;
    }
    .nav-link{
        text-decoration: underline;
        margin-top: 10px;
    }
    #sponsorbilde{
        width: 50px;
    }
    #sponsorbilde2{
        width: 50px;
    }
    .navbilde{
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 5px;

    }
    .nyhetgrid1{
        grid-template-columns: 1fr
    }
    .nyhetbilde{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nyhet:hover{
        filter: blur(1px);
    }
    .nyhet{
        background-color: black;
    }
    .dot-skrift{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dot-1{
        left: -100px;
    }
    .dot-2{
        left: -100px;
    } 
    .dot-skrift2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .nyhetoverskrift-rash{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift-cavani{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift{
        color: white;
        text-align: center;
        font-size: 25px;
        border: solid white 1px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .nyhet2{
        background-color: black;
    }
    .nyhetoverskrift2{
        background-color: white;
        padding: 10px;
        margin-top: 0px;
        margin-left: 117px;
        margin-right: 117px;
        font-size: 15px;
    }
    .nyhetskrift2{
        background-color:black;
        color: black;
    }
    #mutv{
        width: 300px;
    }
    .nyhetgrid2{
        grid-template-columns: 1fr;
    }
    .nyhetbilde2{
        display: block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;  
    }
    .nyhet2:hover{
        filter: blur(1px);
    }
    .overskriftartikkel{
        font-size: 30px;
        border: solid black 2px;
        margin-top: 10px;
    }
    .bildeartikkel{
        width: 400px;
    }
    .skriftartikkel{
        font-size: 12px;
    }
    .nyhetvideo{
        width: 200px;
        height: 100px;
    }
    .avsnitt{
        border: solid black 1px;
    }
    .gruppe{
        text-decoration: underline;
        margin-left: 55px;
        font-size: 12px;
        
    }
    .skriftartikkel2{
        font-size: 10px;
        margin-left: 55px;
    }
    .overgang-rykter{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        grid-gap: 10px;  
    
    }
    .overgang-skrift{
        font-size: 15px;
        color: white;
        text-align: center;
    }
    .overgang-overskrift{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        color: white;
        text-decoration: underline;
    }
    .overgang-rykter{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        grid-gap: 80px; 
    }
    .overgang-bilde{
        width: 100%;
        margin-top: 0px; 
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .overgang-skrift{
        font-size: 17px;
        color: white;
        text-align: center;
    }
  
.overgang-bilder{
    display: flex;
    grid-template-columns: 0fr;
    margin-top: -100px;
}
#overgangbilde{
    width: 37px;
    margin-top: 95px;
    margin-left: 250px;
}
#rødpil{
    width: 60px;
    margin-top: 95px;
    margin-left: 45px;
}
#manu{
    width: 100px;
    margin-top: 60px;
    margin-left: 10px;

}
#overgangbilde-ut{
    width: 38px;
    margin-top: 115px;
    margin-left: 40px;
}
#rødpil2{
    width: 55px;
    margin-top: 120px;
    margin-left: 20px;
}
#manu2{
    width: 100px;
    margin-top: 83px;
    margin-left: 200px;
}
#overgangbilde-ut2{
    width: 85px;
    margin-top: 105px;
    margin-left: 20px;
}

    .innogut-skrift{
        font-size: 17px;
        border: solid black 1px;
        text-decoration: underline;
        color:red;
        text-align: center;
    }
    .innogut{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
        grid-gap: 20px;
          
    }
    .rykter-hovedbilde{
        width: 100%;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .toarticle:hover{
        filter: blur(1px);
    }
    .posisjoner{
        text-align: center;
        color: white;
        font-size: 20px;
        border: solid white 1px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 180px;
        margin-left: 180px;
    }
    .posisjoner::first-letter{
        color: red;
    }
    .gridstall{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .gruppestall img{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .gruppestall{
        border: solid white 1px;
        margin-left: 250px;
        margin-right: 250px;
        
    }
    .gruppestall img:hover{
        width: 180px;
    }
    .spillerstalloverskrift{
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 15px;
  
    }
    .spillerstalloverskrift::first-letter{
        color: red;
    }
    .spillerramme1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .spillerartikkel{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spillerbilde{
        width: 200px;
        margin-top: 50px;
    }
    .spilleroverskrift{
        font-size: 16px;
        color: white;
        margin-top: 55px;
      
    }
    .spillerskrift{
      font-size: 10px;
      color: white;
    }
    .mainwhite{
        background-color:white;
    }
    .biografioverskrift{
        color: black;
        font-size:15px;
        margin-top: 20px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .biografiskrift{
        color: black;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        display: block;
        margin-right: 100px;
        margin-left: 100px;
    }

.premie-bilder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 30px;
    
}
#premie-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    margin-top: 30px;
}
#premie-bilde2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 130px;
    margin-top: 55px;
}

#klubbnavn{
    color:white ;
}
.info-skrift{
    background-color: black;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    font-family: cursive;
    font-size: 18px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white 2px;

}
d{
    color: red;
}
d:hover{
    color: darkred;
}

table{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 16px;
    border: solid white 1px;
    margin-left: 92px;
    margin-right: 92px;
}
th{ 
    padding: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    color: white;

}
th::first-letter{
    color: red;
}

td{
    padding: 8px;
    color: white;
}


.pl-hovedskrift{
   
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: white;
}
.pl-hovedskrift::first-letter{
    color:red;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pl-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 25px;
}
    
.pl-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 30px;
    background-color: black;
    border: solid red 1px;
    
    
}
ul{
    justify-content: space-between;
}
li{
    font-size: 10px;
    color: white;
    margin-top: 10px;

}
#premie{
    text-decoration: underline;
    color: white
}
#premie:hover{
    color: grey;
}

.pl-skrift{
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 11px;
}
.kampoppsett{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-top: 20px;
    border: solid white 2px;
    margin-left: 70px;
    margin-right: 70px;
}
.kampoppsett-skrift1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.kampoppsett-skrift2{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    font-family: fantasy;
}
.kampene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.kamp-overskrift{
    color: red;
    text-align: center;
    font-size: 17px;
}
.kamp-skrift{
    font-size: 12px;
    text-align: center;

}
.kamp-skrift2{
    font-size: 12px;
    text-align: center;
}
.stillingen{
    font-size: 13px;
    margin-top: 25px;
    margin-left: 80px;

}
.resultat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}
.kamplogoer{
    width: 100%;
}
#kampunited{
    width: 30px;
    margin-left: 30px;
    margin-top: 17px;

}
#kampleipzig{
    width: 50px;
    margin-left: 21px;
    margin-top: 22px;
}
#kampcity{
    width: 50px;
    margin-left: 22px;
    margin-top: 20px;
}
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    border-radius: 30%;
    background:red;
    box-shadow: 0 0 10px black(0,0,0,0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #btnScrollToTop:active{
    background-color: darkred;
  }

  .footerskrift{
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footerskrift::first-letter{
    color: red;
}
.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.footerbilder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde{
    width: 100%;
    width: 50px;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde2{
    width: 100%;
    width: 30px;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde3{
    width: 100%;
    width: 80px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.websidegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 1px;
    border: solid black 1px;
}
.websideskrift{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    text-decoration: underline;
}
.manutd-webside{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 18px;
}
.footerskrift{
        color: black;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .footerskrift::first-letter{
        color: red;
    }
    .footergrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-left: 120px;
        margin-right: 120px;
    }
    .footerbilder{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde{
        width: 100%;
        width: 50px;
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde2{
        width: 100%;
        width: 30px;
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde3{
        width: 100%;
        width: 70px;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .websidegrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 1px;
        border: solid black 1px;
    }
    .websideskrift{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 10px;
        text-decoration: underline;
    }
    .manutd-webside{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: red;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 30px;
        font-size: 17px;
    }


@media (max-width: 600px){
    #sponsorbilde{
        width: 40px;
    }
    #sponsorbilde2{
        width: 40px;
    }
    .navbilde{
        width: 25px;
        height: 25px;
        margin-top: 8px;
    }
    .nav-link{
        text-decoration: underline;
        margin-top: 5px;
    }
    
    nav{
        font-size: 10px
    }
    nav .active{
        color: grey;
    }
    .nyhetgrid1{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        
    }
    .nyhetbilde{
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nyhet:hover{
        filter: blur(1px);
    }
    .nyhet{
        background-color: black;
    }
    .dot-skrift{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dot-1{
        left: -100px;
    }
    .dot-2{
        left: -100px;
    } 
    .dot-skrift2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .nyhetoverskrift-rash{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift-cavani{
        color: black;
        left: -100px;
    }
    .nyhetoverskrift{
        color: white;
        text-align: center;
        font-size: 15px;
        border: solid white 1px;
        margin-left: 140px;
        margin-right: 140px;
    }
    .nyhet2{
        background-color: black;
    }
    .nyhet2:hover{
        filter: blur(1px);
    }
    .nyhetoverskrift2{
        padding: 1px;
        margin-top: 0px;
        margin-left: 175px;
        margin-right: 175px;
        font-size: 8px;
    }
    .nyhetskrift2{
        background-color:black;
        color: black;
    }
    #mutv{
        width: 150px;
    }
      
    .nyhetgrid2{
        grid-template-columns: 1fr;
    }
    .nyhetbilde2{
        display: block;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .overskriftartikkel{
        font-size: 17px;
        border: solid black 1px;
        margin-top: 10px;
    }
    .bildeartikkel{
        width: 200px;
    }
    .skriftartikkel{
        font-size: 10px;
    }
    .nyhetvideo{
        width: 100px;
        height: 50px;
    }
    .avsnitt{
        border: none;
    }
    .gruppe{
        text-decoration: underline;
        margin-left: 50px;
        font-size: 10px;
        
    }
    .skriftartikkel2{
        font-size: 8px;
        margin-left: 50px;
    }
    .overgang-rykter{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        grid-gap: 10px;  
    
    }
    .overgang-skrift{
        font-size: 10px;
        color: white;
        text-align: center;
    }
    .overgang-overskrift{
        text-align: center;
        font-size: 15px;
        color: white;
        text-decoration: underline;
    }
    .overgang-rykter{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        grid-gap: 80px; 
    }
    .overgang-bilde{
        width: 100%;
        margin-top: 0px; 
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
.overgang-bilder{
    display: flex;
    grid-template-columns: 0fr;
    margin-top: -100px;
}
#overgangbilde{
    width: 25px;
    margin-top: 90px;
    margin-left: 150px;
}
#rødpil{
    width: 30px;
    margin-top: 95px;
    margin-left: 40px;
}
#manu{
    width: 72px;
    margin-top: 65px;
    margin-left: 10px;

}
#overgangbilde-ut{
    width: 27px;
    margin-top: 100px;
    margin-left: 40px;
}
#rødpil2{
    width: 40px;
    margin-top: 102px;
    margin-left: 20px;
}
#manu2{
    width: 70px;
    margin-top: 80px;
    margin-left: 120px;
}
#overgangbilde-ut2{
    width: 60px;
    margin-top: 94px;
    margin-left: 20px;
}
    .innogut-skrift{
        font-size: 13px;
        border: solid black 1px;
        text-decoration: underline;
        color:red;
        text-align: center;
    }
    .innogut{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
        grid-gap: 20px;
          
    }
    .rykter-hovedbilde{
        width: 100%;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .toarticle:hover{
        filter: blur(1px);
    }
    .posisjoner{
        text-align: center;
        color: white;
        font-size: 15px;
        border: solid white 1px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 150px;
        margin-left: 150px;
    }
    .posisjoner::first-letter{
        color: red;
    }
    .gridstall{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .gruppestall img{
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .gruppestall{
        border: solid white 1px;
        margin-left: 180px;
        margin-right: 180px;
        
    }
    .gruppestall img:hover{
        width: 120px;
    }
    .spillerstalloverskrift{
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 10px;
  
    }
    .spillerstalloverskrift::first-letter{
        color: red;
    }
    .spillerramme1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .spillerartikkel{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spillerbilde{
        width: 150px;
        margin-top: 50px;
    }
    .spilleroverskrift{
        font-size: 11px;
        color: white;
        margin-top: 55px;
      
    }
    .spillerskrift{
      font-size: 8px;
      color: white;
    }
    .mainwhite{
        background-color:white;
    }
    .biografioverskrift{
        color: black;
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .biografiskrift{
        color: black;
        font-size: 8px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        display: block;
        margin-right: 100px;
        margin-left: 100px;
    }


.premie-bilder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 30px;
    
}
#premie-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-top: 5px;
}
#premie-bilde2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    margin-top: 25px;
}

#klubbnavn{
    color:white ;
}
.info-skrift{
    background-color: black;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    font-family: cursive;
    font-size: 13px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white 2px;

}
d{
    color: red;
}
d:hover{
    color: darkred;
}

table{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 10px;
    border: solid white 1px;
    margin-left: 50px;
    margin-right: 50px;
}
th{ 
    padding: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    color: white;

}
th::first-letter{
    color: red;
}

td{
    padding: 1px;
    color: white;
}


.pl-hovedskrift{
   
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}
.pl-hovedskrift::first-letter{
    color:red;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pl-bilde{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 20px;
}
    
.pl-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    background-color: black;
    border: solid red 1px;     
}
ul{
    justify-content: space-between;
}
li{
    font-size: 8px;
    color: white;
    margin-top: 10px;

}
#premie{
    text-decoration: underline;
    color: white
}
#premie:hover{
    color: grey;
}

.pl-skrift{
    color: white;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 9px;
}
.kampoppsett{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-top: 20px;
    border: solid white 1px;
    margin-left: 20px;
    margin-right: 20px;
}
.kampoppsett-skrift1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
.kampoppsett-skrift2{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    font-family: fantasy;
}
.kampene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.kamp-overskrift{
    color: red;
    text-align: center;
    font-size: 12px;
}
.kamp-skrift{
    font-size: 8px;
    text-align: center;

}
.kamp-skrift2{
    font-size: 8px;
    text-align: center;
}
.stillingen{
    font-size: 8px;
    margin-top: 18px;
    margin-left: 35px;

}
.resultat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}
.kamplogoer{
    width: 100%;
}
#kampunited{
    width: 25px;
    margin-left: 20px;
    margin-top: 10px;

}
#kampleipzig{
    width: 40px;
    margin-left: 13px;
    margin-top: 13px;
}
#kampcity{
    width: 40px;
    margin-left: 14px;
    margin-top: 11px;
}
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 30%;
    background:red;
    box-shadow: 0 0 10px black(0,0,0,0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #btnScrollToTop:active{
    background-color: darkred;
  }

  .footerskrift{
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footerskrift::first-letter{
    color: red;
}
.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.footerbilder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde{
    width: 100%;
    width: 50px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde2{
    width: 100%;
    width: 30px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerbilde3{
    width: 100%;
    width: 80px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.websidegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 1px;
    border: solid black 1px;
}
.websideskrift{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    text-decoration: underline;
}
.manutd-webside{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 18px;
}
.footerskrift{
        color: black;
        font-size: 13px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .footerskrift::first-letter{
        color: red;
    }
    .footergrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1px;
        margin-left: 90px;
        margin-right: 90px;
    }
    .footerbilder{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde{
        width: 100%;
        width: 40px;
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde2{
        width: 100%;
        width: 22px;
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footerbilde3{
        width: 100%;
        width: 70px;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .websidegrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 1px;
        border: solid black 1px;
    }
    .websideskrift{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 8px;
        text-decoration: underline;
    }
    .manutd-webside{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: red;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 30px;
        font-size: 12px;
    }
